@font-face {
  font-family: 'GTUltra-regular';
  src: url(fonts/subset-GTUltra-Regular.woff);
}
@font-face {
    font-family: 'GTUltraMedian-black';
    src: url(fonts/subset-GTUltraMedian-Black.woff);
  }

sup, sub {
    font-size: 50%;
  }
  
  html, body, * {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
  }
  
  #main {
    position:relative;
    left:0px;
    top:0px;
    width:728px;
    height:90px;
    border:1px solid #000000;
    box-sizing: border-box;
    overflow:hidden;
  }
  #bgExit {
    position: absolute;
    left: -1px;
    top: -1px;
    width:728px;
    height:90px;
    cursor: pointer !important;
    z-index: 100;
  }

  .logo_text{
    position: absolute;
    top: 58.87px;
    left: 638px;
    z-index: 1;
  }
  .horse_static{
    position: absolute;
    top: 23.29px;
    left: 657.36px;
    z-index: 1;
  }
  .horse_gif{
    position: absolute;
    top: 17px;
    left: 648.36px;
    z-index: 1;
    width: 52.08px;
  }

  .hidden{
    visibility: hidden;
    opacity: 0;
  }
  .content{
    background-color: #6CF479;
    height: 90px;
    width: 467px;
    top: 0px;
    right: 0px;
    position: absolute;
    display: flex;
    align-items: center;
  }
  .cover_image{
    width: 728px;
    height: 90px;
  }
  .copy{
    font-family: 'GTUltraMedian-black';
    font-size: 22px;
    line-height: 23px;
    z-index: 1;
    position: absolute;
    width: 100%;
    top: 22px;
    left: 279px;
  }
  #cta{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 33px;
    left: 512px;
  }
  #cta span{
    font-family: 'GTUltra-regular';
    width: 104.53px;
    height: 23.94px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background-color: #fff;
    border-radius: 4px;
    font-size: 11px;
}
#cta span:hover svg{
  fill:#fff;
}
.small_text{
    font-family: 'GTUltra-Light';
    color: #fff;
    font-size: 6px;
    text-align: left;
    top: 6px;
    left: 8px;
    position: absolute;
    line-height: 9px;
}