@font-face {
  font-family: 'GTUltra-regular';
  src: url(fonts/subset-GTUltra-Regular.woff);
}
@font-face {
    font-family: 'GTUltraMedian-black';
    src: url(fonts/subset-GTUltraMedian-Black.woff);
  }
sup, sub {
    font-size: 50%;
  }
  
  html, body, * {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
  }
  
  #main {
    position:relative;
    left:0px;
    top:0px;
    width:728px;
    height:90px;
    border:1px solid #000000;
    box-sizing: border-box;
    overflow:hidden;
  }
  #bgExit {
    position: absolute;
    left: -1px;
    top: -1px;
    width:728px;
    height:90px;
    cursor: pointer !important;
    z-index: 100;
  }

  .logo_text{
    position: absolute;
    top: 58.87px;
    left: 638px;
    z-index: 1;
  }
  .horse_static{
    position: absolute;
    top: 23.29px;
    left: 657.36px;
    z-index: 1;
  }
  .horse_gif{
    position: absolute;
    top: 18.5px;
    left: 649.5px;
    z-index: 1;
    width: 49.08px;
  }

  .hidden{
    visibility: hidden;
    /* opacity: 0; */
  }
  .content{
    background-color: #6CF479;
    height: 90px;
    width: 728px;
    top: 0px;
    right: 0px;
    position: absolute;
    display: flex;
    align-items: center;
  }
  .cover_image{
    width: 728px;
    height: 90px;
  }
  .copy{
    font-family: 'GTUltraMedian-black';
    font-size: 24px;
    line-height: 26px;
    z-index: 1;
    position: absolute;
    top: 18px;
    left: 26px; 
  }
  #cta{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:31.98px;
    left: 467.27px;
  }
  #cta span{
    font-family: 'GTUltra-regular';
    width: 113.73px;
    height: 26.05px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 4px;
    font-size: 12px;
}
#cta span:hover svg{
  fill:#fff;
}
#cta span svg{
  margin-right: 4px;
}